/* lol... */

/* center this div:

<div class="mydiv"> </div>

/* initial styling: 
.mydiv {
 background: green;
  width: 150px;
  height: 150px;
}
*/

.mydiv {
  background: green;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
